@model InventoryManagement.ViewModels.ProductTypeDetailsEditViewModel

@{
    ViewBag.Title = "Edit Product Type";
}

<form asp-controller="ProductTypeDetails" asp-action="edit" enctype="multipart/form-data" method="post" class="mt-3">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <input hidden asp-for="Id" />

    <div class="form-group row">
        <label asp-for="ProductTypeName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ProductTypeName" class="form-control" placeholder="Product Type Name">
            <span asp-validation-for="ProductTypeName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Status" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="form-check">
                <input asp-for="Status" type="radio" value="true" id="isStatusActive" class="form-check-input" />
                <label class="form-check-label" for="isStatusActive">Active</label>
            </div>
            <div class="form-check">
                <input asp-for="Status" type="radio" value="false" id="isStatusInactive" class="form-check-input" />
                <label class="form-check-label" for="isStatusInactive">Inactive</label>
            </div>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="index" asp-controller="ProductTypeDetails" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>
